aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.7
APScheduler==3.9.1
asgiref==3.6.0
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
blinker==1.4
Brotli==1.0.9
captcha==0.4
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==40.0.1
cycler==0.11.0
dash==2.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DBUtils==1.3
Deprecated==1.2.13
dnspython==2.2.1
email-validator==1.2.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
Flask==2.1.2
Flask-APScheduler==1.12.4
Flask-CKEditor==0.4.6
Flask-Compress==1.12
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
flask-redis==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
fonttools==4.38.0
frozenlist==1.3.0
geoip2==4.5.0
gevent==22.10.2
greenlet==2.0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.1
itsdangerous==2.1.2
jieba==0.39
Jinja2==3.1.2
kaitaistruct==0.10
kiwisolver==1.4.4
lxml==4.9.0
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.5.3
maxminddb==2.2.0
multidict==6.0.2
mysql-connector==2.2.9
Naked==0.1.31
numpy==1.21.6
openai==0.26.4
openpyxl==3.1.2
outcome==1.2.0
packaging==21.3
pandas==1.3.5
Pillow==9.1.1
plotly==5.8.2
py4j==0.10.9.7
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.14.1
pydivert==2.1.0
pymongo==4.3.3
PyMySQL==1.0.2
pyOpenSSL==23.1.1
pyparsing==3.0.9
PySocks==1.7.1
pyspark==3.4.0
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
redis==4.3.4
requests==2.27.1
scipy==1.7.3
selenium==4.8.3
selenium-wire==5.1.0
shellescape==3.8.1
six==1.16.0
sniffio==1.3.0
snownlp==0.12.3
some-package==0.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.36
SQLAlchemy-serializer==1.4.1
sqlparse==0.4.4
tenacity==8.0.1
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
Werkzeug==2.1.2
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
yarl==1.7.2
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.5.2
zstandard==0.20.0
