<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>王者体验服奖励自动兑换</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        (function () {
            window.jQuery || document.write('<script src="' + "{{ url_for('static',filename='js/jquery.min.js') }}" + '"><\/script>');
        })();</script>
    <link rel="stylesheet" href="../static/layui/css/layui.css" tppabs="http://layui/dist/css/layui.css" media="all">
    <script type="text/javascript" src="{{ url_for('static',filename='js/common.js') }}" defer="defer"></script>
</head>
<body>

<blockquote class="layui-elem-quote layui-text">
    请先复制CURL(bash)：打开浏览器(Chrome或Edge) --> F12--> 选中请求 --> copy --> Copy as cURL(bash)
</blockquote>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>填写CURL</legend>
</fieldset>

<form class="layui-form">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">Curl：</label>
        <div class="layui-input-block">
            <textarea name="curl"
                      placeholder="打开浏览器(Chrome或Edge)  -->  F12-->  选中请求  -->  copy  -->  Copy as cURL(bash)  -->  粘贴在此处"
                      lay-verify="required" lay-reqtext="Curl必填哦！宝~" autocomplete="off"
                      class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">微信号：</label>
        <div class="layui-input-block">
            <input type="text" name="wx" placeholder="如果是微信区请在此处填写微信号，QQ区不填" maxlength="20" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <input type="text" name="remarks" placeholder="用来方便以后查询，可不填" maxlength="20" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="add">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>Cookies状态查询</legend>
</fieldset>

<form class="layui-form" action="/search" onsubmit="return CheckKeyword('search')">
    <div class="layui-form-item">
        <label class="layui-form-label">QQ号/WX号/备注：</label>
        <div class="layui-input-block">
            <input type="text" id="search_keyword" name="keyword" lay-verify="required" lay-reqtext="请输入查询关键字！"
                   maxlength="20"
                   placeholder="请输入要查询的QQ号或微信号或备注" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend><b>注意事项：</b></legend>
</fieldset>
<fieldset class="layui-elem-field">
    <legend>疑问</legend>
    <div class="layui-field-box">
        有些人可能并不是每天都有碎片，第一可能是你的Curl已过期，需要重新提交，可以在上面查询；第二兑换取决于你的“体验币”，体验服官网可以查询。获取体验币的方法是，在体验服打排位或者每次更新的时候更新体验服并登录，邮箱中会发放体验币。
    </div>
</fieldset>
<fieldset class="layui-elem-field">
    <legend>官方规则</legend>
    <div class="layui-field-box">
        每80个体验币=2个皮肤/英雄碎片，体验币不足则无法正常兑换！
    </div>
</fieldset>
<fieldset class="layui-elem-field">
    <legend>体验服官网</legend>
    <div class="layui-field-box">
        官网：<a href="https://pvp.qq.com/cp/a20161115tyf/index.shtml"
              target="_blank" style="color: blue;">https://pvp.qq.com/cp/a20161115tyf/page2.shtml</a>，没有号的请先去申请，注意申请条件！
    </div>
</fieldset>
<fieldset class="layui-elem-field">
    <legend>教程</legend>
    <div class="layui-field-box">
        首先电脑端登录QQ，有体验服测试资格的QQ。打开Edge或者Chrome，不能是其他浏览器！<br><br>
        在浏览器中打开王者体验服官网（前提是有资格的体验账号），官网地址：<a href="https://pvp.qq.com/cp/a20161115tyf/index.shtml"
                                            target="_blank" style="color: blue;">https://pvp.qq.com/cp/a20161115tyf/page2.shtml</a><br><br>
        打开后界面如下：<br><br>
        <img src="{{ url_for('static',filename='images/img1.png') }}" alt=""><br><br>
        如下图选择QQ登录，一定不能扫码登录。<br><br>
        <img src="{{ url_for('static',filename='images/img2.png') }}" alt=""><br><br>
        一定要点击头像授权登录，不要手机扫码。（如果前面电脑端登录了QQ，那这里就会自动出现你电脑端已登录的QQ账号头像，点击头像登录即可）<br><br>
        登陆后往下滑动到如下界面：<br><br>
        <img src="{{ url_for('static',filename='images/img3.png') }}" alt=""><br><br>
        点击F12键打开浏览器调试工具，然后点击碎片福袋下面的兑换奖励。如下图所示<br><br>
        <img src="{{ url_for('static',filename='images/img4.png') }}" alt=""><br><br>
        兑换成功后，先点击上方的确定，然后在下面找到amesvr开头的链接，右键该链接-->Copy-->Copy as cURL(bash)，将复制出来的东西黏贴到兑换网站即可。<br><br>
        <img src="{{ url_for('static',filename='images/img5.png') }}" alt=""><br><br>
        之后填写必要信息，点击提交即可。


    </div>
</fieldset>

<script src="../static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        const form = layui.form
            , layer = layui.layer;
        //监听提交
        form.on('submit(add)', function (data) {
            const curl_data = data.field
            $.ajax({
                url: '/curl', method: 'post', data: {
                    'curl': curl_data.curl, 'wx': curl_data.wx, 'remarks': curl_data.remarks
                }, success: function (data) {
                    if (400 === data.code) {
                        layer.alert(data.msg, {
                            title: '提交失败！'
                        })
                    } else if (200 === data.code) {
                        layer.alert(data.msg, {
                            title: '提交成功！'
                        })
                    } else {
                        layer.alert('未知原因！', {
                            title: '提交失败！'
                        })
                    }
                }
            })

            return false;
        });
    });
</script>

</body>
</html>